<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Phoenix Logo"
    src="assets/images/aml-logo.png"
  />
  <span>Phoenix AML</span>
    <div class="spacer"></div>
</div>


<div class="content" role="main">
  <!-- Main Copy -->
  <div class="container welcome">
    <div id="main-copy" class="row">
      <div class="column">
        <p >Phoenix AML is a financial services company specializing in cryptocurrency, anti-money laundering, and foreign exchange trading.</p>
      </div>
    </div>
  </div>

  <!-- Login Cards -->
  <div class="card-container">

    <!-- AML Login Card -->
    <div class="card" id="card-aml">
      <img class="aml-img"
      width="40"
      alt="Phoenix Logo"
      src="assets/images/aml-logo.png"
    />
        <a routerLink="../login">Login to AML</a>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>

    <!-- FX Login Card -->
    <div class="card" id="card-fx">
      <img class="fx-img"
      width="10"
      alt="FX Logo"
      src="assets/images/fx-logo.png"
      />
        <a routerLink="/phoenix/pagenotfound">Login to FX</a>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer">
  <div class="footer-element-top">
    <a class="link" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
      <p>Privacy Policy</p>
    </a>

    <a class="link" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
      <p>Sitemap</p>
    </a>

    <a class="link" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
      <p>Contact</p>
    </a>
  </div>
  <div class="footer-element-bot">
    <p>Copyright © 2021 Phoenix AML. All rights reserved</p>
  </div>
</div>